<h1>Edit Profile</h1>

<%= form_for @user do |f| %>
	<%= render 'shared/error_messages' %>
		
	<%= f.label :name, class: 'control-label' %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :email, class: 'control-label' %>
	<%= f.text_field :email, class: 'form-control' %>

<!---Text single edit functionality
	<%= f.label :password, class: 'control-label' %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation, "Confirmation", class: 'control-label' %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>
--->
	<%= f.submit "Save Changes", class: "btn btn-lg btn-primary" %>

<% end %>
