
<%= stylesheet_link_tag 'feed', :media => 'screen' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><%= @user.name %></li>
              <li class="profile-thumbnail"><ul class="thumbnails">
                <li="thumbnail-pic">
                  <div class="thumbnail">
                    <img src="http://placehold.it/250x200">
                    <h4>Chicago, IL</h4>
                  </div>
                </li>
              </ul>
              </li>
              <li><%= link_to "View Profile",  user_path, class: "a" %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span8">


				    <div id="myCarousel" class="carousel slide">
							<div class="carousel-inner">

								<div class="item active">
                  <%= image_tag("soccer-guy.jpg", :alt => "carousel") %>
									<div class="container">
										<div class="carousel-caption">
											<h1>Example headline.</h1>
											<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										</div>
									</div>
								</div>

								<div class="item">
                  <%= image_tag("soccer-guy.jpg", :alt => "carousel") %>
									<div class="container">
										<div class="carousel-caption">
											<h1>Another example headline.</h1>
											<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										</div>
									</div>
								</div>

								<div class="item">
                  <%= image_tag("soccer-guy.jpg", :alt => "carousel") %>
									<div class="container">
										<div class="carousel-caption">
											<h1>One more for good measure.</h1>
											<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										</div>
									</div>
								</div>
							</div>

							<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
						</div><!-- /.carousel -->       




            <% @posts.each do |post| %>
            <div class='row-fluid'>
              <div class="span12">
                <div class="card">
                  <h2 class="card-heading simple"><%= post.title %></h2>
                    <div class="card-body">
                      <p><%= post.text %></p>
                      <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div>
                 </div>
              </div><!--/span-->
            </div>           
            <% end %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div><!--/.fluid-container-->
    <script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({
             interval: 5000
         })
    });    
    </script>
   </body>
</html>

