<%= stylesheet_link_tag 'sign_up', :media => 'screen' %>
<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">New Post</h2>
      <%= form_for(@post) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
              </ul>
          </div>
       <% end %>
       <%= f.text_field :title, class: 'input-text input-block-level', placeholder: 'Title' %>
       <%= f.text_area :text, class: 'input-text input-block-level', placeholder: 'Text' %>
			<%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
