<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
      <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .hero-unit {
          padding: 60px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      </style>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
	<% flash.each do |k,v| %>
		<%= content_tag :div, v, class: "alert alert-#{k}" %>
	<% end %>
</div>

<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
